
    <div>
       <h1>SORTEO PARA EL REGALO DE NAVIDAD 2023</h1>

       <h2>Hola {{draw_name.from_participant.name}} </h2>

       <div style="font-size:30px;color:blue">Tenés que regalarle a <b>{{draw_name.to_participant.name}}</b></div><br>

       {% if draw_name.wished_gift %}
           {{draw_name.to_participant.name}} prefiere que le regales <b>{{draw_name.wished_gift}}</b>
       {% else %}
           {{draw_name.to_participant.name}} todavía no anotó qué le gustaría que le regales. Podés volver a entrar más tarde a ver si ya lo hizo.
       {% endif %}


       <h3>El monto para el regalo es de $15000</h3>

       <form method="POST">
        {% csrf_token %}
        <label>Sobre tu regalo: ¿Qué te gustaría que te regalen <b>a vos</b>? (anotá varias opciones para hacerle más fácil la compra a tu amigo invisible)</label><br><br>
        {% comment %} <textarea id="wished_gift" value="{{draw_name_as_receiver.wished_gift}}"></textarea> {% endcomment %}
        {{form}}
<br><br>

        <button type="submit">Enviar</button>
       </form>

       {% if saved %}
        <div style="color:green">¡Listo, ahora a comprar y a esperar tu regalo!</div>
       {% endif %}
    </div>





